{% extends 'base.html'%}

{% block content%}
        <div style="direction: rtl;" class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div   class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div  class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">إزالة الكتاب</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <p class="p-3">هل تريد حقاً إزالة الكتاب: <strong>{{ book_to_remove.title }}</strong>؟</p>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger">تأكيد الإزالة</button>
                            <a href="{% url 'main' %}" class="btn btn-success">تراجع</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}