{% extends 'base.html'%}

{% block content%}
        <div style="direction: rtl;" class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div   class="content-wrapper p-5">
                <!-- Content Header (Page header) -->
                <section>
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>الكتب</h1>
                        </div>
                    </div>
                </section>
                <!-- Main content -->
                <section class="content">                  
                    <!-- Default box -->
                    <div class="card card-solid">
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                {% for book in books %}
                                    {% if book.status == "sold"%}
                                        <!-- بداية الكتاب -->
                                        <div   class="col-12 col-sm-6 col-md-4  hide_books book{{book.category.id}} book{{book.status}}">
                                            <div  id="" class="card bg-light">
                                                <div  class="card-header text-muted border-bottom-0">
                                                    {{book.catigery.name}}
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h2 class="lead"><b>{{book.title}}</b></h2>
                                                            <ul class="  fa-ul text-muted">
                                                                <li class="small"><span class="fa-li"></span>الحالة:  {{book.status}}</li>
                                                                {% if book.price %}
                                                                    <li class="small"><span class="fa-li"></span>السعر:  {{book.price}}</li>
                                                                {% elif book.retal_price_day %}
                                                                    <li class="small"><span class="fa-li"></span> سعر الإيجار لليوم :  {{book.retal_price_day}}</li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                        {% if book.book_image %}
                                                          <div class="col-5 text-center">
                                                              <img style="height: 120px; width: 120px;"  src="{{book.book_image.url}}" alt="" class="img-circle img-fluid">
                                                          </div>
                                                        {% else %}
                                                            <div class="col-5 text-center">
                                                                <img style="height: 120px; width: 120px;"  src="" alt="" class="img-circle img-fluid">
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="text-right">
                                                        <a href="{% url 'remove' book.id %}" class="btn btn-sm bg-danger">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                        <a href="{% url 'description' book.id %}" class="btn btn-sm btn-primary">
                                                            <i class="fas fa-book"></i> التفاصيل
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- نهاية الكتاب -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
{% endblock %}